@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --black: #060606;
    --golden: #D3964E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  transition: all 1s ease-out;
}

:target {
    scroll-margin-top: .8em;
  }

body{
    width: 100%;
    overflow-x: hidden;
}

.site{
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

header{
    position: absolute;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100vw;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 70% ;
    font: 1rem 'Raleway', sans-serif ;
    font-weight: medium;
    color: white;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

/*formatacao padrao*/
section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    width: 70%;
}

.text-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    font: 0.9rem 'Roboto Condensed', sans-serif;
}

.title-container h1{
    font: bold 3.5rem 'Raleway', sans-serif;
}

.txtContent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
}

/*header-section*/
.header-section{
    background: url(../img/bg_header_section.png) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 95vh;

    animation: BgZoom 4s ease-out infinite;
    transition-duration: 1s ease-out;
}

@keyframes BgZoom {
    0%{
        background-size: 180vw;
    }    

    100%{
        background-size: cover;
    }
}


.header-container{
    position: relative;
}

.header-container,
.subTit-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-container{
    justify-content: center;
}

.header-text{
    width: 45%;
    color: white;
    gap: 5px;
}

.header-title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center ;
}

.header-title > div > h1{
    font-size: 4rem;
}

.titPt-01{
        background-color: rgba(255, 255, 255, 0.49);
}

.titPt-01 > h1{
    background: url(../img/bg_header_section.png) no-repeat center;
    background-size: 100vw 100vh;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text > .txtContent p{
    font-size: 2rem;
    font-weight: 100;
}

.subTit-container{
    gap: 10px;
}

.subTit-container .txtContent p{
    text-align: right;
}

.subTit-container .txtContent{
    width: 90%;
}

.subTit-container > .arrowDown{
    width: 100%;
}

.arrowDown > img{
    width: 65px;
}

.redes-container{
    position: absolute;
    bottom: 10%;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height: fit-content;
}

.iconsContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.redesStick{
    width: 3px;
    height: 200px;
    background-color: white;
}

.halfStick{
    width: 100%;
    height: 50%;
    background-color: var(--golden);
}

.points-container{
    position: absolute;
    top: 15%;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.stickPoints{
    width: 3px;
    height: 165px;
    background-color: white;
}

.pointsContent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.point{
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.316);;
}

.point01{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.pointInside{
    width: 80%;
    height: 80%;
    background-color: white;
}

.point:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    transition: all 0.3s ease-out;

    cursor: pointer;
}

.point:hover > div{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: white;
}

/*headerBreak-section*/
.headerBreak-section{
    background-color: var(--black);
}

.break-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    margin: 10vh 0 10vh 0;
    height: fit-content;
    background-color: var(--black);
}

.headerBreak-section .spanTitle{
    color: var(--golden);
    font: bold 5rem 'Roboto Condensed', sans-serif;
}

.spanTxt{
    color: white;
    font: 500 2rem 'Roboto Condensed', sans-serif;
}

/*historia-section*/
.story-section{
    padding: 10vh 0;
}

.story-text{
    gap: 40px;
}

.story-title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10vh;
}

.story-title h1 {
    font-size: 5.2rem;
}

.story-title h1 > span{
    font-size: 5.2rem;
    font-weight: bold;
    color: var(--golden);
}

.story-title span{
    font: 400 3.8rem 'Roboto Condensed';
}

.imgTxt-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

.imgTxt-container .txtContent{
    width: 50%;
    font-size: 15px;
}

.democ-imgTxt-container{
    align-items: flex-end;
}

.democ-imgTxt-container > div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    height: 50%;
    overflow: visible;
}

.democ-imgTxt-container .txtContent h1{
        font: bold 3rem 'Raleway', sans-serif;
}

.story-img{
    width: 50%;
}

figure > img{
    width: 100%;
}

.elenco-container,
.ending-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

/*titulos-section*/
.titulos-section{
    background: url(../img/stadium_bg.png) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: fit-content;
}

.titulos-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    margin: 10vh 0 10vh 0;
}

.titulos-text{
    width: 53%;
    color: white;
}

.titulos-title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
}

.titulos-title h1{
    font-size: 2.5rem;
}

.titulos-title span h1{
    font-size: 7rem;
    line-height: 4.5rem;
    color: var(--golden);
}

.titItems-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.titBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 206px;
    height: fit-content;
}

.titBox-content{
    width: fit-content;
    height: 259px;    
    background-color: white;
    z-index: 100;
}

.titBox-text{
    padding: 5px;
}

.titBox-title > h1{
    font-size: 1rem;
}

.titStick{
    width: 5px;
    height: 30px;
    background-color: var(--golden);
}

.titDate > p{
    font: bold 2rem 'Raleway', sans-serif;
    color: white;
}

.borderShadow{
    position: absolute;
    right: 25px;
    top: 25px;
    width: 100%;
    height: 259px;
    border: 5px solid var(--golden);

    z-index: 0;
}


/*elenco-section*/
.elenco-section{
    background-color: var(--black);
}

.elenco-title h2{
    color: var(--golden);
    font-size: 2rem;
}

.elenco-container{
    margin: 10vh 0 10vh 0;
    gap: 40px;
    color: white;
}

/*uniforme-section*/
.uniforme-section{
    background: url(../img/uniforme.png) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 760px;
}

.uniforme-container{
    margin-top: 120px;
}

.uniforme-text{
    width: 45%;
    color: white;
}

/*ending-section*/
.ending-container{
    margin: 10vh 0 10vh 0;
    justify-content: center;
    gap: 40px;
}
.ending-title h1 span{
    color: var(--golden);
}

.ending-title h1{
    font-size: 2.5rem;
}

.logo-corinthians{
    width: 120px;
}

.logo-corinthians img{
    width: 100%;
}

.ending-stick{
    height: 80%;
    width: 7px;
    background-color: var(--black);
}

/*footer*/
footer{
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    padding: 5vh 15vw;
    width: 100%;
    background-color: var(--black);
    color: white;
}

footer span p{
    font: bold 20px 'Raleway', sans-serif;
}