*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100vw;
    background-color: white;
}

nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.header-section{
    background-color: black;
    width: 100vw;
    height: 100vh;
}